:root {

    --Display-Flex: flex;
    --Paddingten: 10px;
    --justify-align: center;
    

}

*{
   box-sizing: border-box;
   margin: 0px;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
/* Changed the styling of header */
header{
    padding: var(--Paddingten);
    display: var(--Display-Flex);
   flex: 1;
   justify-content: var(--justify-align);
}

.head{
    font-size: 100px;
    font-family: monospace;
    font-style: oblique;
    font-weight: bolder;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/24/20/48/programming-1857236__480.jpg);
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent; 
}
 
/* Nav display */
.links {
    display: var(--Display-Flex);
    background-color: #295877;
    justify-content: var(--justify-align);
    flex-wrap: wrap;
    
}
.dropbtn{
    visibility: hidden;
}

nav ul{
  display: var(--Display-Flex);
  flex: 3;
  justify-content: var(--justify-align);
  min-width: 1000px;
  flex-wrap: wrap;
  
}

nav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    text-decoration: underline;
   
}
/*  Style photos of Joshua */
.SelfP {
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
    flex-wrap: wrap;
    padding: 20px 15px;
    background-color: dimgrey;
}

.photo{

    margin: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: darkgray;
    padding: var(--Paddingten);
    flex: 0 0 200px;
    border-radius: 15px 50px 30px;
    transform: rotate(15deg);
    box-shadow: 5px 10px 5px red, 10px 15px 5px blue;
}

.photo img {
    border-radius: 15px 50px 30px;
    width: 250px;
    height: 300px;
}


/* About me styling  */

.aboutM {
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
    font-size: 40px;
    color: black;
}
#aboutme p , .php {
    background-color: lavender;
    padding: var(--Paddingten);
    line-height: 5vh;
    border-style: solid;
    display: var(--Display-Flex);
    flex-wrap: wrap;
    justify-content:space-around

}

.php {
    border-radius: 50px 50px;
    width: 100px;
    height: 100px;

   
}

/* Products styling  */

.display{
    flex: 4;
  padding: var(--Paddingten);
  display: var(--Display-Flex);
  flex-wrap: wrap;
  justify-content: var(--justify-align);
}
.display-main{
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
}

.display-main img{
    width: 500px;
    height: 300px;
}

#products{
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
    background-color: lightsteelblue;
    padding: var(--Paddingten);
}

.store{
    flex: 5;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    background-color:navajowhite;
    text-align: var(--justify-align);
}

.store p{
    background-color: papayawhip;
    padding: 10px;
    text-decoration: none;
    color: black;
}
/* Contact styling  */

.hmu{
    background-color: whitesmoke;
    padding: var(--Paddingten);
    text-align: var(--justify-align);
}

form {
    display: var(--Display-Flex);
    justify-content: var(--justify-align);
    flex-direction: column;
}
/* footer styling */

footer{
    background-color: slategrey;
    font-size: 10px;
    text-align: var(--justify-align);
    color: snow;
}

/* Laptop size */
@media (max-width: 1200px){

    body{
    margin: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    min-height: 90vh;
    }

    main h1 {
    font-size: 30px;
    line-height: 4vh;
     } 
}
/* tablet size */
@media (max-width: 900px){

    .head{
        text-align: center;
    }

    body{
        display: flex;
        justify-content: center;
        align-content: center;
        
        min-height: 80vh;
    

    }
    main p {
        line-height: 4vh;

    }

    main h1{
        font-size: 20px;
    }

}
/* phone size */
@media (max-width: 500px){

   .head{
       text-align: center;
   }
    body{

        display: flex;
        justify-content: center;
        /* align-content: center; */
        /* flex-direction: column; */
        
        background: linear-gradient(0.25turn, #112D9B, #ebf8e1,#61646E);
    }

    main p{
        line-height: 3vh;
        font-size: 15px;
    }



    nav a {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        padding: 14px 20px;
        text-decoration: underline;
        display:inline-block;
    }


    .display-main{
        display: flex;
        justify-content: center;
    }
    
    .display-main img{
        width: 400px;
        height: 250px;
    }
}